vendor/
node_modules/
.env
.htaccess
storage/
*.log
assets.zip
application.zip

# Log files
application/logs/

# File upload
upload/berkas_pelamar/

# File konfigurasi sensitif
application/config/config.php
application/config/database.php
application/controller/snap.php
application/controller/transaction.php
application/controller/vtweb.php